<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Time Vault</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="{% url 'user_timeline' %}">My Timeline</a></li>
        <li><a href="{% url 'create_time_capsule' %}">Create Time Capsule</a></li>
        <li><form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" 
                    style="background: none!important; border: none; 
                        padding: 0!important; font-family: Arial, sans-serif; color: blue; 
                        text-decoration: underline; cursor: pointer;">
                        Logout
            </button>
        </form>
        </li>
    </ul>
</nav>

{% block content %}
<!-- Child templates will insert content here -->
{% endblock %}

</body>
</html>
